
@model IEnumerable<moviesProNew.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var c in Model)
{
    <h1>@Html.ActionLink(c.CName, "Details", "Customer", new { id = c.Id}, null)</h1>
}

